0 * * * * /bin/bash -l -c "if [ $(date +%Y) -gt "1970" ]; then date +%Y.%m.%d-%H:%M:%S > /storage/.config/last_date; fi"
0 0,3,6,9,12,15,18,21 * * * /bin/bash -l -c "transmission-remote 127.0.0.1:9091 -l | grep 100% | awk '{print $1}' | sed s/*// | xargs -n 1 -I % transmission-remote 127.0.0.1:9091 -t % -r"
30 * * * * /bin/bash -l -c "ls /storage/hd || systemctl stop service.downloadmanager.transmission.service && umount /storage/hd && systemctl start storage-hd.mount && systemctl start service.downloadmanager.transmission.service"
40 * * * * /bin/bash -l -c "transmission-remote 127.0.0.1:9091 -l | grep Stopped | awk '{print $1}' | sed s/*// | xargs -n 1 -I % transmission-remote 127.0.0.1:9091 -t % -s"
20 * * * * /bin/bash -l -c "transmission-remote 127.0.0.1:9091 -l | grep 100% | awk '{print $1}' | sed s/*// | xargs -n 1 -I % transmission-remote 127.0.0.1:9091 -t % -r"
